#movies img, #movie img {
    width: 100%;
}

#movies .col-md-4 .well {
    height: 600px;
}

#movies .col-md-4 img {
    height: 500px;
}

#movie h3 {
    font-size: 36px;
    margin-left: 15px;
}

#movie #overview h4 {
    font-size: 20px;
    font-family: "Times New Roman";
}
